// Custom styles.
//img { display: inline; }
code {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
}

strong {
    font-weight: bold;
    color: #c0341d;
}
