// Custom styles.
//img { display: inline; }
code {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
    font-family: "Operator Mono", Consolas, Monaco, Menlo, monospace;
}

strong {
    font-weight: bold;
    color: #2c89e4;
}
